body {
  padding-top: 1.5rem;
}
.navbar {
      background-color: #010A4F;
}

main {

        background-image: url('pastel4.jpg');
        background-repeat: no-repeat;
        background-size: cover;

}
.greeting {
        color: #216DA1;
        text-shadow: 1px 1px 2px black;

}

.info {
    background-color: rgba(33,109,161, 0.5);

}

.add {
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
}

.btn-secondary {
    background-color:#216DA1;
    border-color: #216DA1;
}